<div class="container-fluid h-100">
    <div class="main-flex h-100">
        <app-navbar [transparent]="false"></app-navbar>

        <section class="section" style="padding-top: 2rem;">
            <div class="project-info-container">
                <ng-container *ngIf="project && donations; else loading">
                    <h5 class="is-size-3 has-text-weight-bold">{{project.title}}</h5>

                    <div class="columns is-multiline is-mobile" style="margin-top: 1rem;">
                        <div class="column is-full-mobile is-two-half-quarter-desktop">
                            <div class="image-card has-background-primary"></div>
                            <div class="project-details">
                                <div class="organizer">{{project.organizer}} is organizing this fundraiser.</div>
                                <div class="date">Created {{project.timestamp | date }}.</div>
                                <p class="description">{{project.description}}</p>
                            </div>
                        </div>
                        <div class="column is-full-mobile is-one-half-quarter-desktop">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <div>
                                            <span class="is-size-4 has-text-weight-bold">{{formatAmount(project.amountRaised)}}</span> 
                                            <small class="has-text-grey"> raised of {{formatAmount(project.goal)}} goal</small>
                                        </div>
                                        <div class="donation-gauge">
                                            <div [style.width]="raisedGoalPercent(project.amountRaised, project.goal) + '%'" class="gauge-content has-background-primary"></div>
                                        </div>
                                        
                                        <small class="donation-disabled has-text-grey-light">All payments are simulated, no real payments are happening.</small>

                                        <div class="donation-control-buttons">
                                            <ng-container *ngIf="isMonetizationStartedOrPending; else notStartedDonating">
                                                <button (click)="stopDonating()" class="button is-danger is-fullwidth is-medium is-light">Stop donating</button>
                                            </ng-container>

                                            <ng-template #notStartedDonating>
                                                <button [disabled]="!isMonetizationSupported" (click)="startDonating()" class="button is-primary is-fullwidth is-medium">Donate now</button>
                                            </ng-template>
                                        </div>
                                        <div class="donation-stats">
                                            <div *ngIf="donorCount" class="donor-stat has-text-info">{{donorCountText}}</div>
                                            <div *ngIf="userDonation" class="user-donation-stat has-text-primary">You have donated {{formatAmount(userDonation.amount)}}</div>
                                        </div>
                                        <div class="donor-list">
                                            <div class="donor" *ngFor="let donor of donorPreviewList">
                                                <h6 class="has-text-weight-normal is-marginless">{{donor.name}}</h6>
                                                <span class="has-text-weight-bold">{{formatAmount(donor.amount)}}</span> <span class="has-text-grey-light"> &#8901; {{donor.timestamp | timeproxx}}</span>
                                            </div>
                                        </div>
                                        <div *ngIf="showSeeAllBtn" class="donor-buttons">
                                            <button (click)="viewDonors()" class="button is-primary is-outlined has-text-weight-bold">See all</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <app-donors [isMonetizationStartedOrPending]="isMonetizationStartedOrPending" [isMonetizationSupported]="isMonetizationSupported"
                    [amountDonated]="project.amountRaised" [donations]="donations" [username]="username"
                    (donationEvent)="handleDonationEvent($event)" #donorsModal></app-donors>
                </ng-container>
                <ng-template #loading>
                    <div class="loader"></div>
                </ng-template>
            </div>
        </section>
    </div>
</div>