/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
}

.h-100 {
    height: 100%;
}

.no-break {
    word-break: normal;
}

.main-flex {
    display: flex;
    flex-direction: column;
}

.is-transparent {
    background: transparent;
}

.swal2-modal {
    width: 24em !important;

    .swal2-icon {
        margin: auto auto 8px auto !important;

        &.swal2-question, &.swal2-info {
            height: 32px !important;
            width: 32px !important;

            .swal2-icon-content {
                font-size: 20px !important;
            }
        }
    }

    .swal2-title {
        font-size: 20px !important;
    }

    .swal2-content {
        font-size: 14px !important;
    }

    .swal2-actions {
        button {
            text-transform: uppercase;
            font-size: 15px !important;
        }
    }

    .swal2-footer {
        a {
            font-size: 12px;
            text-align: center;
            color: var(--main-light);
        }
    }
}

.donation-gauge {
    margin: 8px 0;
    height: 5px;
    width: 100%;
    border-radius: 12px;
    background-color: ghostwhite;

    .gauge-content {
        height: inherit;
        border-radius: inherit;
    }
}

.loader {
    border-left-color: #00d1b2;
    border-bottom-color: #00d1b2;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
