<div>
    <nav class="navbar" [ngClass]="{'is-transparent': transparent, 'has-background-primary': !transparent }" role="navigation">
        <div class="navbar-brand">
            <a [routerLink]="['/landing']" class="nav-logo has-text-white has-text-weight-semibold">ComeFundMe</a>

            <a class="navbar-burger burger" (click)="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu is-paddingless" id="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-background-primary">
                    <div class="buttons">
                        <button (click)="authAction()" class="button is-white is-small is-outlined auth-btn has-text-weight-medium">{{authBtnText}}</button>
                    </div>
                </div>
                <div class="navbar-item has-background-primary">
                    <span *ngIf="username" class="username">{{username}}</span>
                </div>
            </div>
        </div>
    </nav>

    <app-login [redirectPath]="loginRedirectPath"></app-login>
</div>